body {
  margin: 0px;
}
.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}
.header {
  text-shadow: 1px 1px hsla(0, 0%, 100%, 0.004);
  display: flex;
  width: 100vw;
  align-items: center;
  height: 53px;
}
#head-logo {
  margin-top: 3px;
  padding: 10px;
  width: 70px;
}
.main-menu {
  display: none;
}
.rightside {
  display: flex;
}
.head-weather {
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  justify-content: center;
  width: 46 px;
  height: 38px;
}
.weather {
  display: flex;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
  color: black;
}
.text {
  text-decoration: none;
}
.header-w {
  font-size: 10px;
  line-height: 16px;
  font-family: normal Helvetica Neue, sans-serif, Arial;
  text-align: right;
  font-weight: 400;
  margin: 0px;
  width: 46px;
  color: black;
  text-wrap: nowrap;
}
.weather-icon {
  margin-right: 5px;
}
.weather-temp {
  font-size: 14px;
  line-height: 22px;
  margin-left: 0px;
  font-weight: 500;
  font-family: normal Helvetica Neue, sans-serif, Arial;
}

.head-zurhai {
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  justify-content: center;
}
.zurhai {
  display: flex;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
  color: black;
}
.header-z {
  font-size: 10px;
  line-height: 16px;
  font-family: normal Helvetica Neue, sans-serif, Arial;
  text-align: right;
  font-weight: 400;
  margin: 0px;
  width: 46px;
  color: black;
  width: 50px;
}
.zurhai-icon {
  margin-right: 10px;
}
.zurhai-temp {
  font-size: 14px;
  line-height: 22px;
  margin-left: 0px;
  font-weight: 500;
  font-family: normal Helvetica Neue, sans-serif, Arial;
  display: flex;
  align-items: center;
}
.head-hansh {
  margin-top: 5px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  justify-content: center;
}
.hansh {
  display: flex;
  margin-left: 0px;
  align-items: center;
  justify-content: left;
  color: black;
}
.header-h {
  font-size: 10px;
  line-height: 16px;
  font-family: normal Helvetica Neue, sans-serif, Arial;
  text-align: right;
  font-weight: 400;
  margin: 0px;
  width: 72px;
  color: black;
}
.hansh-icon {
  margin-right: 5px;
  color: #2adb00;
}
.hansh-temp {
  font-size: 14px;
  line-height: 22px;
  margin-left: 0px;
  font-weight: 500;
  font-family: normal Helvetica Neue, sans-serif, Arial;
  display: flex;
  align-items: center;
}
.opacity {
  opacity: 0.1;
  margin-right: 5px;
}
.menu {
  padding: 15px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  margin-left: auto;
}
.lay-bot {
  width: 100vw;
  height: 330px;
  display: grid;
  overflow-x: scroll;
  grid-template-columns: repeat(2, 100vw);
}
.lay5-rightside {
  display: flex;
  position: relative;
  width: 100vw;
}
#lay5-zurag {
  width: 100%;
  height: 330px;
  object-fit: cover;
}
.phone-text {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 20px;
  right: 20px;
  bottom: 30px;
  width: 100vw-40px;
  height: 105px;
}
.phone-text-head {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 20px;
  right: 20px;
  bottom: 30px;
  width: 100vw-40px;
  height: 120px;
}
.phone-button1 {
  display: flex;
  align-items: center;
  width: 75px;
  height: 23px;
  border-radius: 100px;
  background: #c40097;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  font-family: Helvetica Neue, sans-serif, Arial;
  font-size: 11px;
  justify-content: center;
  color: #fff;
  font-weight: 700;
}
.phone-text1 {
  display: flex;
  font-size: 18px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 600;
  opacity: 1;
  color: black;
}
.phone-text2 {
  display: flex;
  font-size: 18px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 500;
  opacity: 1;
  color: white;
}
.phone-bottom {
  display: flex;
  margin-top: 10px;
}
.phone-mini-button1 {
  display: flex;
  align-items: center;
  background: rgba(33, 33, 33, 0.7);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  color: #c6c6c6;
  font-family: Helvetica Neue, sans-serif, Arial;
  font-size: 14px;
  gap: 5px;
}
.phone-mini-message-icon {
  display: flex;
  align-items: center;
  color: #c6c6c6;
  font-family: Helvetica Neue, sans-serif, Arial;
  font-size: 14px;
  gap: 5px;
  margin-left: 20px;
}
.lay5-rightside-text {
  display: none;
}
.lay5-leftside {
  display: none;
}
.layout6 {
  display: flex;
}
.lay6 {
  display: flex;
  position: relative;
  width: 100vw;
}
.lay6-image1 {
  display: flex;
  position: relative;
  width: 100vw;
}
.lay6-image2 {
  display: flex;
  position: relative;
  width: 100vw;
}
.lay6-image3 {
  display: flex;
  position: relative;
  width: 100vw;
}
#lay6-img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}
.lay6-animate {
  display: none;
}
.lay6-rightside-text {
  display: none;
}
.lay6-text {
  display: none;
}
.lay6-share {
  display: none;
}
.phone-lay7 {
  display: flex;
  position: relative;
  width: 100vw;
  height: 36px;
  align-items: center;
}
.ontsloh {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 36px;
  background-color: #212121;
  font-size: 15px;
  color: white;
  font-weight: 600;
}
#ontslog-img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.shine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 100vw;
  font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
  color: white;
  font-weight: 600;
  background-color: #0050a4;
}
#shine-img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
#trend-img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.trend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 36px;
  font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
  color: white;
  font-weight: 600;
  background-color: #212121;
}
.layout7 {
  width: 100vw;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}
.gogo-story-logo {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  padding-left: 15px;
  font-family: Helvetica Neue, sans-serif, Arial;
}
.story-h {
  color: #fff;
  padding: 2px 3px;
  background-color: #00b0f4;
  border-radius: 3px;
  font-size: 18px;
  font-family: Helvetica Neue, sans-serif, Arial;
}
.gogo-story {
  margin-top: 20px;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(7, 45vw);
  gap: 14px;
  padding-left: 15px;
}
.story {
  display: flex;
  position: relative;
  width: 45vw;
  height: 235px;
}
.story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.story-text1 {
  display: flex;
  position: absolute;
  flex-direction: column;
  inset: 10px;
  justify-content: space-between;
}
.story-text {
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  font-family: Helvetica Neue, sans-serif, Arial;
  max-height: 37px;
  overflow: hidden;
  margin-bottom: 5px;
  transition: all 0.3s;
}
.eye {
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  font-family: Helvetica Neue, sans-serif, Arial;
}
.news-right {
  display: none;
}
#g-logo {
  width: 30px;
  height: 30px;
}
.calendar {
  display: none;
}
.layout8 {
  display: flex;
  width: 100vw;
}
.layout8-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.news-left {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
}
.l-news {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.l-news-hover {
  display: none;
}
.l-news-t {
  display: none;
}
.l-news-img {
  display: flex;
  width: 105px;
  height: 110px;
}
#l-news-img {
  width: 105px;
  height: 110px;
  object-fit: cover;
  border-radius: 5px;
}
.l-news-text {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: Helvetica Neue, sans-serif;
  text-wrap: wrap;
}
.l-news-icon {
  display: flex;
}
.l-news-icon1 {
  font-size: 12px;
  font-family: Helvetica Neue, sans-serif;
  color: #888;
}
.l-news-icon2 {
  font-size: 12px;
  font-family: Helvetica Neue, sans-serif;
  color: #888;
}
.l-news-head {
  margin-bottom: 10px;
  text-wrap: wrap;
}
.l-news-banner {
  display: none;
}
.lay6-animate-phone {
  display: flex;
  height: auto;
}
#khaan-bank {
  display: flex;
  position: absolute;
  width: 100vw;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  animation-name: banner;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#monpay {
  display: flex;
  position: absolute;
  width: 100vw;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  animation-name: banner1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes banner {
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes banner1 {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 900px) {
  body {
    margin: 0px;
  }
  .phone-lay7 {
    display: none;
  }
  .container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 1100px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 39px;
  }
  .rightside {
    margin-right: 0px;
    display: flex;
    margin-left: auto;
    margin-top: -15px;
    align-items: end;
  }

  .rightside1 {
    padding: 0px;
    display: flex;
    border-radius: 0px;
    margin-right: 30px;
    margin-top: -15px;
    width: auto;
    height: auto;
    border: none;
  }
  .text {
    text-decoration: none;
  }
  .rightside2 {
    padding: 0px;
    display: flex;
    margin-top: -15px;
    border: none;
  }
  .weather {
    display: flex;
    margin-top: 5px;
  }
  .zurhai {
    display: flex;
    margin-top: 5px;
  }
  .hansh {
    display: flex;
    margin-top: 5px;
  }
  .weather-temp {
    font-weight: 500;
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
  }
  .zurhai-temp {
    font-weight: 500;
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
  }
  .hansh-temp {
    font-weight: 500;
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
  }
  .header-w {
    line-height: 20px;
    font-size: 12px;
    font-family: Helvetica Neue, sans-serif;
    width: 55.05px;
  }
  .header-z {
    line-height: 20px;
    font-size: 12px;
    width: 62px;
    font-family: Helvetica Neue, sans-serif;
    display: flex;
    justify-content: end;
  }
  .header-h {
    line-height: 20px;
    font-size: 12px;
    font-family: Helvetica Neue, sans-serif;
    width: 84px;
  }
  .hansh {
    display: flex;
    justify-content: end;
  }
  .menu {
    display: none;
  }
  #head-logo {
    width: 119px;
    height: 39px;
  }
  .main-menu {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .fa-solid {
    display: flex;
    line-height: 20px;
    font-size: 12px;
  }
  .bar {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: none;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 16px;
    cursor: pointer;
  }
  .search {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
  }
  .fa-magnifying-glass {
    font-size: 20px;
    line-height: 30px;
  }
  .triangle1 {
    display: none;
    top: 73px;
    margin-left: 30px;
    position: absolute;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    background-color: white;
    z-index: 1020;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .lay1 {
    display: flex;
    position: absolute;
    width: 62px;
    height: 60px;
    top: 30px;
  }
  .layout1 {
    display: none;
    position: absolute;
    z-index: 20;
    top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.15);
    width: 400px;
    height: 274px;
    background-color: white;
    cursor: default;
  }
  .medee:hover .layout1 {
    opacity: 1;
    display: flex;
  }
  .medee:hover .triangle1 {
    display: flex;
    opacity: 1;
  }
  .triangle2 {
    display: none;
    top: 73px;
    margin-left: 30px;
    position: absolute;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    background-color: white;
    z-index: 1020;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .lay2 {
    display: flex;
    position: absolute;

    top: 30px;
    width: 120px;
    height: 60px;
  }
  .bulan:hover .layout2 {
    display: flex;
  }
  .bulan:hover .triangle2 {
    display: flex;
  }
  .layout2 {
    display: none;
    position: absolute;
    z-index: 10;
    top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.15);
    width: 305px;
    height: 254px;
    background-color: white;
    cursor: default;
  }

  .triangle3 {
    display: none;
    top: 73px;
    margin-left: 30px;
    position: absolute;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    background-color: white;
    z-index: 1020;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .layout3 {
    display: none;
    position: absolute;
    z-index: 10;
    top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.15);
    width: 133px;
    height: 148px;
    background-color: white;
    cursor: default;
  }
  .lay3 {
    display: flex;
    position: absolute;
    top: 30px;
    width: 62.5px;
    height: 60px;
  }

  .uzeh:hover .layout3 {
    display: flex;
  }
  .uzeh:hover .triangle3 {
    display: flex;
  }
  .triangle4 {
    display: none;
    top: 73px;
    margin-left: 30px;
    position: absolute;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    background-color: white;
    z-index: 1020;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .lay4 {
    display: flex;
    position: absolute;
    top: 30px;
    width: 97px;
    height: 60px;
  }
  .layout4 {
    display: none;
    position: absolute;
    z-index: 10;
    top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 212px;
    background-color: white;
    cursor: default;
  }
  .h-mayg:hover .layout4 {
    display: flex;
  }
  .h-mayg:hover .triangle4 {
    display: flex;
  }
  .test {
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue, sans-serif, Arial;
    font-weight: 700;

    font-size: 16px;
    padding-left: 25px;
    color: #297cf0;
  }
  .test1 {
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue, sans-serif, Arial;
    font-weight: 700;
    font-size: 16px;
  }
  .hovers::marker {
    color: #297cf0;
  }
  .hovers2::marker {
    color: #297cf0;
  }
  .hovers3::marker {
    color: #297cf0;
  }
  .hovers4::marker {
    color: #297cf0;
  }
  .hovers {
    width: 123px;
    word-wrap: normal;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 550;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
  }
  span {
    position: relative;
    transition: all 0.3s;
  }
  .hovers:hover span {
    padding-left: 3px;
  }
  .hovers2:hover span {
    padding-left: 3px;
  }
  .hovers3:hover span {
    padding-left: 3px;
  }
  .hovers4:hover span {
    padding-left: 3px;
  }
  .hovers2 {
    width: 135px;
    word-wrap: normal;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 550;
    color: #000;
    cursor: pointer;
  }
  .hovers3 {
    width: 133px;
    word-wrap: normal;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 550;
    color: #000;
    cursor: pointer;
  }
  .hovers4 {
    width: 135px;
    word-wrap: normal;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 550;
    cursor: pointer;
    color: #000;
  }

  .lay-bot {
    margin-top: 20px;
    width: 100vw;
    height: 740px;
    background: linear-gradient(180deg, #fff, #f7f7f7);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .layout5 {
    border-radius: 10px;
    width: 1100px;
    margin-left: 40px;
    padding-right: 40px;
    height: 385px;
    display: flex;
    position: relative;
    background: linear-gradient(
      90deg,
      #f4f4f4 7%,
      hsla(0, 0%, 100%, 0.220348) 17%
    );
    justify-content: space-between;
  }
  .lay5-leftside {
    padding-left: 40px;
    width: 500px;

    border-radius: 10px;

    display: flex;
    position: relative;

    justify-content: center;
    flex-direction: column;
  }
  .phone-text {
    display: none;
  }
  .lay5-button1 {
    display: flex;
    align-items: center;
    width: 75px;
    height: 30px;
    border-radius: 100px;
    background: #c40097;
    background: linear-gradient(129deg, #c40097, #d6710b);
    background-image: linear-gradient(-120deg, #e08100, #c90027);
    font-family: Helvetica Neue, sans-serif, Arial;
    font-size: 12px;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
  }
  .lay5-button1:hover {
    width: 85px;
  }
  .lay5-text {
    display: flex;
    padding-right: 30px;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 26px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 600;
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
    z-index: 3;
  }
  .lay5-text:hover {
    opacity: 0.7;
  }
  .lay5-mini-text {
    height: 48px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.4;
    font-family: Helvetica Neue, sans-serif;
  }
  .lay5-mini-text {
    display: flex;
  }
  .lay5-bottom {
    display: flex;
  }
  .lay5-mini-button1 {
    width: 65px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0efef;
    border-radius: 100px;
    color: #767676;
    font-size: 16px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 600;
    margin-right: 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  .fa-share {
    display: flex;
    margin-right: 8px;
    color: #c6c6c6;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
  }

  .lay5-mini-button1:hover {
    width: 85px;
    background-color: white;
  }
  .lay5-mini-button1:hover .fa-share {
    font-size: 18px;
    transform: rotate(30deg);
  }
  .lay5-mini-message-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-message {
    font-size: 11px;
    color: #c6c6c6;
    margin-right: 5px;
    display: flex;
  }
  .lay5-mini-message {
    font-size: 16px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 600;
    color: #767676;
  }
  .lay5-rightside {
    height: 385px;
    width: 508px;
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  #lay5-zurag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .lay5-rightside-text {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.5);
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    gap: 7px;
  }
  .lay5-rightside:hover img {
    transform: scale(1.1);
  }
  .lay5-rightside:hover .lay5-rightside-text {
    opacity: 1;
  }
  .layout6 {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .lay6-animate-phone {
    display: none;
  }
  .lay6-animate {
    display: flex;
  }

  .lay6-rightside-text {
    display: flex;
  }
  .lay6-text {
    display: flex;
  }
  .phone-text-head {
    display: none;
  }
  .lay6-image1 {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 264px;
    height: 175px;
    border-radius: 7px;
  }
  .lay6-image2 {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 264px;
    height: 175px;
    border-radius: 7px;
  }
  .lay6-image3 {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 264px;
    height: 175px;
    border-radius: 7px;
  }
  #lay6-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .lay6-rightside-text {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.5);
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    gap: 7px;
    cursor: pointer;
  }
  .lay6:hover #lay6-img {
    transform: scale(1.1);
  }
  .lay6-image1:hover .lay6-rightside-text {
    opacity: 1;
  }

  .lay6-image2:hover .lay6-rightside-text {
    opacity: 1;
  }

  .lay6-image3:hover .lay6-rightside-text {
    opacity: 1;
  }
  .lay6 {
    cursor: pointer;
    display: flex;
    width: 263px;
    height: auto;
    flex-direction: column;
  }
  .lay6-text {
    margin-top: 10px;
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 500;
    line-height: 22px;
    opacity: 1;
  }
  .lay6-share {
    display: flex;
    margin-top: 10px;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 400;
  }
  .lay6-text:hover {
    opacity: 0.7;
  }
  .lay6-animate {
    width: 263px;
    height: 270px;
    display: flex;
    position: relative;
  }
  #khaan-bank {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    animation-name: banner;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  #monpay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    animation-name: banner1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  @keyframes banner {
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes banner1 {
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .phone-banners {
    display: none;
  }
  .layout7 {
    width: 1100px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
  }
  .gogo-story-logo {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    font-family: Helvetica Neue, sans-serif, Arial;
  }
  .story-h {
    color: #fff;
    padding: 2px 3px;
    background-color: #00b0f4;
    border-radius: 3px;
    font-size: 18px;
    font-family: Helvetica Neue, sans-serif, Arial;
  }
  .gogo-story {
    margin-top: 20px;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(7, 171px);
    gap: 15px;
    padding-left: 0px;
  }
  .story-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .border {
    border-radius: 10px;
  }
  .story {
    overflow: hidden;
    position: relative;
    display: flex;
    height: 235px;
    width: 171px;
    border-radius: 10px;
    cursor: pointer;
  }
  .story-text1 {
    display: flex;
    position: absolute;
    flex-direction: column;
    inset: 10px;
    justify-content: space-between;
  }
  .story-text {
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    font-family: Helvetica Neue, sans-serif, Arial;
    max-height: 37px;
    overflow: hidden;
    margin-bottom: 5px;
    transition: all 0.3s;
  }
  .eye {
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    font-family: Helvetica Neue, sans-serif, Arial;
  }
  #g-logo {
    width: 30px;
    height: 30px;
  }
  .story:hover .story-img {
    transform: scale(1.1);
  }
  .story:hover .story-text {
    max-height: 68px;
  }
  .layout8 {
    margin-top: 25px;
    display: flex;
    position: relative;
    width: 1100px;
    height: 2980px;
  }
  .layout8-left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 690px;
  }
  .calendar {
    display: block;
  }
  .calendar-head {
    font: normal 16px / 22px Helvetica Neue, sans-serif, Arial;
    color: #407ce8;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  #calendar-head-img {
    height: 26px;
    width: 23px;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 119px);
  }
  .bold-line {
    height: 7px;
    border-radius: 20px;
    background-color: #407ce8;
    width: 104px;
  }
  .bold-lines {
    height: 7px;
    border-radius: 20px;
    width: 104px;
    background-color: #efefef;
    transition: all 0.3s ease-in-out;
  }
  .today {
    color: #407ce8;
    font: normal 13px Helvetica Neue, sans-serif, Arial;
    text-align: center;
    width: 104px;
    margin-top: 0px;
    cursor: pointer;
  }
  .days {
    color: #efefef;
    font: normal 13px Helvetica Neue, sans-serif, Arial;
    text-align: center;
    width: 104px;
    margin-top: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .days:hover {
    color: #407ce8;
    margin-top: 0px;
  }
  .days:hover .bold-lines {
    background-color: #407ce8;
  }
  .calendar-button {
    background: #efefef;
    height: 27px;
    line-height: 18px;
    width: 27px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .calendar-button:hover {
    background-color: #407ce8;
    border: none;
    color: #fff;
  }
  .news-left {
    margin-top: 40px;
    width: 690px;
    display: flex;
    flex-direction: column;
  }
  .l-news {
    display: flex;
    height: 150px;
    width: 720px;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 0px;
  }
  .l-news-img {
    width: 210px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-out;
  }
  #l-news-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  .l-news-hover {
    display: flex;
    opacity: 0;
    width: 210px;
    height: 150px;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    font: normal 16px Helvetica Neue, sans-serif, Arial;
    font-weight: 500;
    transition: all 0.3s ease-out;
  }
  .arrow1 {
    margin-left: 5px;
  }
  .l-news:hover #l-news-img {
    transform: scale(1.1);
  }
  .l-news-img:hover .l-news-hover {
    background: rgba(34, 34, 34, 0.5);
    display: flex;
    opacity: 1;
  }
  .l-news-text {
    width: 480px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
  .l-news-head {
    width: 480px;
    text-wrap: wrap;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
  }
  .l-news-t {
    font: normal 14px/22px Helvetica Neue, sans-serif, Arial;
    height: 46px;
    width: 480px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #888;
    overflow: hidden;
    display: flex;
  }
  .l-news-icon {
    display: flex;
  }
  .l-news-icon1 {
    color: #888;
    font: normal 14px Helvetica Neue, sans-serif, Arial;
    margin-right: 30px;
  }
  .l-news-icon2 {
    color: #888;
    font: normal 14px Helvetica Neue, sans-serif, Arial;
  }
  .fas {
    color: #888;
    font-size: 14px;
  }
  .l-news-banner {
    width: 720px;
    height: 255px;
    position: relative;
    margin-bottom: 30px;
  }
  #l-banner1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    animation-name: l-banner1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    display: flex;
    transition: all 0s;
  }
  #l-banner2 {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    animation-name: l-banner2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    display: flex;
    transition: all 0s;
  }
  @keyframes l-banner1 {
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes l-banner2 {
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .l-news-end {
    width: 718px;
    height: 63px;
    background: #f8f8f8;
    border: 1px solid #f2f2f2;
    font: normal 20px Helvetica Neue, sans-serif, Arial;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #l-news-end-img {
    width: 17px;
    height: 21px;
    margin-left: 5px;
  }
  .l-news-end:hover {
    background: white;
    color: #044f9c;
  }
  .news-right {
    width: 290px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    position: relative;
  }
  .r-news-head {
    margin-bottom: 50px;
    font: normal 20px Helvetica Neue, sans-serif, Arial;
    line-height: 26px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  #r-news-head-img {
    height: 30px;
    width: 25px;
    margin-right: 10px;
  }
  .news-right {
    width: 290px;
    display: flex;
    flex-direction: column;
    height: 2980px;
  }
  .r-news {
    display: flex;
    max-height: 265px;
    width: 290px;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .r-news-img {
    width: 290px;
    height: 170px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-out;
  }
  #r-news-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  .r-news-hover {
    display: flex;
    opacity: 0;
    width: 290px;
    height: 170px;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    font: normal 16px Helvetica Neue, sans-serif, Arial;
    font-weight: 500;
    transition: all 0.3s ease-out;
  }
  .arrow1 {
    margin-left: 5px;
  }
  .r-news-img:hover .r-news-hover {
    background: rgba(34, 34, 34, 0.5);
    display: flex;
    opacity: 1;
  }
  .r-news-text {
    width: 290px;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  .r-news-t {
    font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
    width: 290px;
    margin-top: 10px;
    overflow: hidden;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .r-news-icon {
    display: flex;
  }
  .r-news-icon1 {
    color: #888;
    font: normal 12px Helvetica Neue, sans-serif, Arial;
    margin-right: 10px;
  }
  .r-news-icon2 {
    color: #888;
    font: normal 12px Helvetica Neue, sans-serif, Arial;
  }
  .share-right {
    font-size: 12px;
  }
  .bagana {
    height: 2955px;
    width: 1px;
    position: absolute;
    background-color: #888;
    margin-left: -50px;
    opacity: 0.1;
  }
  #r-trend-head-img {
    width: 22px;
    height: 26px;
    margin-right: 10px;
  }
  .r-trend-head {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    font: normal 20px Helvetica Neue, sans-serif, Arial;
    line-height: 26px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  .r-news-trend {
    margin-top: 50px;
    background-color: #fdfaf5;
    margin-left: -50px;
    width: 340px;
    height: 1450px;
  }
  .trend-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    width: 270px;
  }
  .news-trend {
    height: 91px;
    width: 270px;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.06);
    transition: all 0.3s;
    cursor: pointer;
  }
  .trend-number {
    font-weight: 700;
    color: #e00034;
    font-size: 46px;
    line-height: 46px;
    font-family: Helvetica Neue, sans-serif, Arial;
    margin-right: 15px;
  }
  .trend-t {
    font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
  }
  .trend-icon {
    margin-top: 10px;
    display: flex;
  }
  .t-news-icon3 {
    display: flex;
    align-items: center;
    color: #888;
    font: normal 12px Helvetica Neue, sans-serif, Arial;
    margin-right: 18px;
  }
  .t-news-icon1 {
    color: #888;
    font: normal 12px Helvetica Neue, sans-serif, Arial;
    margin-right: 15px;
  }
  .t-news-icon2 {
    color: #888;
    font: normal 12px Helvetica Neue, sans-serif, Arial;
  }
  #trend-comment {
    width: 11px;
    height: 11px;
  }
  .news-trend:hover {
    transform: scale(1.05);
  }
  .news-trend:hover .trend-t {
    opacity: 0.6;
  }
  .layout9 {
    margin-top: 60px;
    display: flex;
    position: relative;
    width: 1100px;
    flex-direction: column;
  }
  .view-container {
    display: flex;
    gap: 15px;
    width: 1100px;
  }
  .layout9-head {
    display: flex;
    align-items: center;
    font: normal 20px / 22px Helvetica Neue, sans-serif, Arial;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .layout9-head:hover {
    color: #044f9c;
  }
  #interview-logo {
    width: 20px;
    height: 25px;
    margin-right: 5px;
  }
  .interview-left {
    width: 542.5px;
    height: 500px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
  }
  #view1-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: all 0.3s;
  }
  .interview-left-text {
    display: flex;
    position: absolute;
    width: 482.5px;
    padding: 30px;
    z-index: 10;
    bottom: 0px;
    flex-direction: column;
    cursor: pointer;
  }
  .view-left-head1 {
    width: 32.6px;
    height: 22px;
    background-color: #407ce8;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    font: normal 10px / 22px Helvetica Neue, sans-serif, Arial;
    font-weight: 500;
  }
  .view-left-text {
    font-family: Helvetica Neue, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  .view-left-bot {
    color: #fff;
    padding-top: 10px;
    border-top: 1px solid hsla(0, 0%, 100%, 0.15);
    font-size: 10px;
    font: normal 10px / 22px Helvetica Neue, sans-serif, Arial;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    padding-top: 10px;
  }
  .view-arrow {
    margin-left: 3px;
    transition: all 0.3s;
  }
  .interview-left:hover #view1-img {
    transform: scale(1.1);
  }
  .interview-left:hover .view-left-head1 {
    opacity: 0.8;
  }
  .interview-left:hover .view-left-text {
    opacity: 0.8;
  }
  .interview-left:hover .view-arrow {
    margin-left: 10px;
  }
  .interview-right {
    width: 542.5px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .view-right1 {
    width: 263.75px;
    height: 243px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
  }
  #view-r1-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: all 0.3s;
  }
  .view-right-head1 {
    display: flex;
    position: absolute;
    background-color: #407ce8;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    font: normal 10px / 22px Helvetica Neue, sans-serif, Arial;
    font-weight: 500;
    left: 20px;
    bottom: 80px;
  }
  .view-right-head2 {
    display: flex;
    position: absolute;
    background-color: #407ce8;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    font: normal 10px / 22px Helvetica Neue, sans-serif, Arial;
    font-weight: 500;
    left: 20px;
    bottom: 80px;
    transition: all 0.3s;
  }
  .view-right-text {
    width: 223.75px;
    display: flex;
    position: absolute;
    max-height: 55px;
    font-family: Helvetica Neue, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    bottom: 25px;
    line-height: 1.4;
    left: 20px;
    overflow: hidden;
    transition: all 0.3s;
  }
  .view-right1:hover #view-r1-img {
    transform: scale(1.1);
  }
  .view-right1:hover .view-right-head1 {
    opacity: 0.8;
  }
  .view-right1:hover .view-right-head2 {
    opacity: 0.8;
  }
  .view-right1:hover .view-right-text {
    max-height: 75px;
  }
  .view-right1:hover .view-right-head2 {
    bottom: 100px;
  }
  .layout10 {
    width: 1100px;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
  }
  .gogo-story-logo {
    cursor: pointer;
  }
  .lay10-logo {
    margin-bottom: 20px;
  }
  .lay10-logo:hover {
    color: #044f9c;
  }
  .lay10-container {
    width: 1100px;
    height: 360px;
    display: flex;
    gap: 15px;
  }
  .style {
    width: 269.5px;
    height: 360px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(34, 34, 34, 0.1);
    cursor: pointer;
  }
  .style-img {
    width: 269.5px;
    height: 230px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  #style1-img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    object-fit: cover;
  }
  .style-border {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(34, 34, 34, 0.5);
    opacity: 1;
    font: normal 16px Helvetica Neue, sans-serif, Arial;
    font-weight: 500;
    color: white;
    opacity: 0;
    transition: all 0.3s;
  }
  .style-text {
    width: 247.5;
    height: 72px;
    font: normal 16px / 24px Helvetica Neue, sans-serif, Arial;
    padding: 10px;
  }
  .style-icon {
    display: flex;
    padding-left: 10px;
  }
  .style-icon1 {
    color: #888;
    font: normal 12px / 22px Helvetica Neue, sans-serif, Arial;
    margin-right: 25px;
  }
  .style-icon2 {
    color: #888;
    font: normal 12px / 22px Helvetica Neue, sans-serif, Arial;
    display: flex;
    align-items: center;
  }
  .style-bot {
    display: flex;
    flex-direction: column;
    width: 269.5px;
    height: 130px;
    transition: all 0.3s;
  }
  #style-comment {
    width: 12px;
    height: 11px;
    margin-right: 10px;
  }
  .style:hover .style-bot {
    background-color: rgba(0, 0, 0, 0.02);
  }
  .style-img:hover #style1-img {
    transform: scale(1.1);
  }
  .style-img:hover .style-border {
    opacity: 1;
  }

  #techno-logo {
    width: 23px;
    height: 25px;
    margin-right: 10px;
    display: flex;
    align-items: bottom;
  }
  .lay11-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .lay11-container {
    width: 1100px;
    height: 300px;
    display: flex;
    gap: 15px;
  }
  .techno {
    width: 269.5px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(34, 34, 34, 0.1);
    cursor: pointer;
  }
  .techno-img {
    width: 269.5px;
    height: 170px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  #techno1-img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    object-fit: cover;
  }
  .techno-border {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(34, 34, 34, 0.5);
    opacity: 1;
    font: normal 16px Helvetica Neue, sans-serif, Arial;
    font-weight: 500;
    color: white;
    opacity: 0;
    transition: all 0.3s;
  }
  .techno:hover .style-bot {
    background-color: rgba(0, 0, 0, 0.02);
  }
  .techno-img:hover #techno1-img {
    transform: scale(1.1);
  }
  .techno-img:hover .techno-border {
    opacity: 1;
  }
  .comic {
    width: 554px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(34, 34, 34, 0.1);
    cursor: pointer;
  }
  .comic-img {
    width: 554px;
    height: 170px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .comic:hover .comic-bot {
    background-color: rgba(0, 0, 0, 0.02);
  }
  .comic-img:hover #techno1-img {
    transform: scale(1.1);
  }
  .comic-img:hover .techno-border {
    opacity: 1;
  }
  .comic-bot {
    display: flex;
    flex-direction: column;
    width: 554px;
    height: 130px;
    transition: all 0.3s;
  }
  .layout11 {
    margin-top: 60px;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section11 {
    margin-top: 50px;
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .play-text {
    width: 247.5;
    height: 72px;
    font: normal 16px / 24px Helvetica Neue, sans-serif, Arial;
    padding: 10px;
    color: hsla(0, 0%, 100%, 0.8);
  }
  .lay12-logo {
    color: white;
    font: normal 18px / 24px Helvetica Neue, sans-serif, Arial;
    font-weight: 600;
    display: flex;
  }
  .sec2 {
    margin-top: 70px;
    padding-bottom: 70px;
  }
  .footer {
    width: 1100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  .footer-top {
    width: 1100px;
    display: flex;
    justify-content: space-between;
  }
  #footer-logo {
    width: 120px;
    height: 40px;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .foot-right {
    display: flex;
    gap: 30px;
  }
  .foot {
    display: flex;
    align-items: bottom;
    font: normal 15px Helvetica Neue, sans-serif, Arial;
    font-weight: 500;
  }
  #foot1 {
    width: 15px;
    height: 20px;
    margin-right: 10px;
  }
  .foot-right1 {
    display: flex;
    justify-content: end;
  }
  .footer-mid {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid #e5e5e5;
  }
  .footer-bot {
    display: flex;
    justify-content: space-between;
  }
  .footer-bot-l {
    font: normal 12px / 22px Helvetica Neue, sans-serif, Arial;
  }
  .footer-bot-r {
    display: flex;
    gap: 20px;
  }
  .fa-brands {
    color: black;
    opacity: 0.2;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .fa-brands:hover {
    opacity: 1;
  }
}
